#main {
    float: left;
}

#extras {
    float: right;
}

#connections {
    display: flex;
    clear: both;
}

input, textarea {
    float: left;
    border-width: medium;
    border-radius: 5px;
    border-style: solid;
    font-family: Verdana;
}

select, #connect {
    float: left;
    text-align: center;
    border-width: medium;
    border-radius: 10px;
    border-style: solid;
    font-family: Verdana;
}

body, canvas, input, textarea, select {
    color: #000000;
    border-color: #BFBFBF;
    background-color: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
    body, canvas, input, textarea, select {
        color: #FFFFFF;
        border-color: #404040;
        background-color: #000000;
    }
}

@media (orientation: landscape) {
    #main, #extras {
        width: 50%;
    }
}